In [1]:
import pandas as pd

In [22]:
read = 'ydp.txt'

In [23]:
#read the files in
with open(read,'r',encoding="utf8") as file:
  lines = file.readlines()

In [24]:
data = []
temp = []

"""Try to join message that span multiple lines together"""
for i in lines:
  if '-' in i:
    if ':' in i.split('-')[1]:
      if len(temp) >1:
        data[-1] = data[-1] + ' '.join(temp)
        temp=[]
        # print('i am breaking')
        # break
      data.append(i)
      #print(i)
  else:
    temp.append(i)
    #print('exit')

In [25]:
not_processed = []
processed = []
for j,i in enumerate(data):

  if '/' in i[:3] and '-' in i and ':' in i.split('-')[1]:
    #print(i)
    date = i.split(',')[0]
    time = i.split(',')[1].split('-')[0][1:]
    author = i.split('-')[1].split(':')[0]
    message = i.split('-')[1].split(':')[1]
    #print(i)
    processed.append([date,time,author,message])
  else:
    not_processed.append(i)

In [26]:
pd.DataFrame(data=processed,columns=['Date','Time','Author','Message'])

,Date,Time,Author,Message
0,5/7/22,7:01 PM,S+N Ayoade,Waiting for this message\n
1,5/7/22,7:03 PM,+234 816 484 7452,Finally we have people that can answer any qu...
2,5/7/22,7:03 PM,+234 816 484 7452,I am moving over to the side of this that bri...
3,5/7/22,7:04 PM,+234 812 091 9501,No cap! ðŸ”¥\n
4,5/7/22,7:04 PM,S+N Ayoade,Na to ask for tips before going for interview...
...,...,...,...,...
19579,8/3/22,11:14 PM,Joe,"I'm not sure if you could pass ""skip this num..."
19580,8/3/22,11:15 PM,Joe,"I am assuming, date time author and message i..."
19581,8/3/22,11:17 PM,S+N Ayoade,Yea\n
19582,8/3/22,11:18 PM,S+N Ayoade,Should I share with you ?\n\n This your messa...
19583,8/3/22,11:28 PM,Joe,Yes boss\n

In [27]:
df = pd.DataFrame(data=processed,columns=['Date','Time','Author','Message'])

In [28]:
#saving to csv format
df.to_csv("cleaned_data.csv")